{% extends 'base.html.twig' %}
{% block body %}

    <div class="d-flex flex-row">
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('images/' ~ recipe.picture) }}" alt="Card image cap">
                        <div class="card-body">
                            <a class="card-title" href="{{ path('recipe_details_show', {'id': recipe.id}) }}">{{ recipe.label }}</a>
                        </div>
                    </div>
                </div>
            {% endfor  %}
        </div>

    </div>
{% endblock %}
